:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --title-white-color: #FFFFFF;
    --button-text-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
    --title-black-color: #000000;
    --hover-color: #188CE8;
    --border-heder-colod: #ECECEC;
    --border-cfrd-color: #EEEEEE;
    --hero-bgcolor: #C4C4C4;
    --clients-border-color: #AFB1B8;
}


body {
    background-color: var(--title-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
    
}

.header-container {
    display: flex;
    align-items: center;
} 


    

/* Header */
.header {
    background-color: var(--title-white-color);
    border-bottom: 1px solid var(--border-heder-colod);
}

/* Logo */
.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
    align-items: center;
}

.logo:hover {
    color: var(--hover-color);
}


.logo span {
    color: var(--title-black-color);
}

.list {
    list-style: none;
    margin: 0 0;
}

/* Site nav */
.site-nav .link,
.link-current {
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    
}

.item {
    position: relative;

}

.link {
    display: flex;
}


.site-nav {
    display: flex;
    margin-left: 93px;
    padding-left: 0;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    padding-left: 0;
    margin-left: auto;

}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-color);
}

.site-nav .link-current {
    color: var(--accent-text-color);
    
    display: flex;
}


/* Contacts */
.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}


.contacts-link {
    color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-text-color);
}


/* Hero */

.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: var(--hero-bgcolor);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/hero_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-text {
    color: var(--title-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}

/* Backdrop */

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop. {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Section and Features */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 10px;
}

.section-title,
.clients-title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    text-align: center;
}

.features-section {
    padding-bottom: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features {
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: var(--button-text-color);
    border-radius: 4px;
    margin-bottom: 30px; 
}


.items {
    display: flex;
    gap: 30px;
    flex-basis: calc(100% - 60px) / 3;
    padding-left: 0;
}

/* Employees*/
.employees {
    display: flex;
    text-align: center;
    gap: 30px;
    flex-basis: calc(100% - 90px) / 4;
    padding-left: 0;
}

.employees-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    background: var(--title-white-color)
    
}

.employees-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    padding-top: 30px;
    margin-bottom: 10px;
}
.employees-text{
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 30px;
}
.bgcolor {
    background-color: var(--button-text-color);
}

.links {
    display: flex;
    padding-left: 0;
    padding-bottom: 30px;
    gap: 10px;
    justify-content: center;
    
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--title-white-color);
    border-radius: 50px; 
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-text-color);
}

.insta {
    display: flex;
    width: 20px;
    height: 20px;
    fill: var(--clients-border-color);
}

.social-link:hover .insta,
.social-link:focus .insta {
    fill: var(--title-white-color)
}

/* Clients */
.clients {
   display: flex;
   gap: 30px;
   padding-left: 0;
   
}

.border-clients {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--clients-border-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--clients-border-color);
}

.border-clients:hover,
.border-clients:focus {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
}

/* Button */
.button {
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    
}

.button.primary {
    background-color: var(--accent-text-color);
    color: var(--title-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 32px;
}

.button.primary:hover,
.button.primary:focus,
.button.secondary:hover,
.button.secondary:focus {
    color: var(--title-white-color);
    background-color: var(--accent-text-color);
}

.button.secondary:hover,
.button.secondary:focus,
.button.portfolio:hover,
.button.portfolio:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-text-color)
}

.button.secondary {
    background-color:var(--button-text-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
}

/* Footer */
.info {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.address-container {
    display: flex;
    align-items: baseline;
    }

.info span {
    color: var(--title-white-color);
}

.address {
    font-style: normal;
    padding-left: 0;
}

.address-list {
    margin-top: 20px;  
}
 
.address-map {
    color: var(--title-white-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--hover-color);
}


.address-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-text:not(:last-child) {
    margin-bottom: 9px;
}

.join-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}

.join-links:hover,
.join-links:focus {
    background-color: var(--accent-text-color);
}

.join-footer {
    display: flex;
    width: 20px;
    height: 20px;
    fill: var(--title-white-color)
}

.join {
    display: flex;
    padding-left: 0;
    padding-bottom: 30px;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 0;
}

.join-title {
    margin-left: 70px;

}

.join-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-white-color);
}


/* Portfolio */
.portfolio {
    text-decoration: none;
    display: inline-block;
}

.portfolio-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    text-align:start;
}

.portfolio-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    text-align: start;
}

.button.portfolio {
    color: var(--title-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 25px;
}

.portfolio:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 0;
    gap: 8px;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc(100% - 60px) / 3;
    justify-content: center;
    padding-left: 0;
}

.portfolio-box {
    padding: 20px 24px;
}

.portfolio-card {
    border: 1px solid var(--border-cfrd-color);
    width: 370px;
}


