.contacts__contacts-link {
    display: flex;
    align-items: center;
    @include font (500, 14px, 1.14, 0.02em);
    text-decoration: none;
    transition: color var(--transition-func);
    color: var(--primary-text-color);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
}

.contacts__contact-icon {
    margin-right: 10px;
    fill: currentColor;
}