.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-func);
    color: var(--primary-text-color);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}