.site-nav .link,
.link-current {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-func)
}

.link-current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color)
}

.item {
    position: relative;
}

.site-nav {
    display: flex;
    margin-left: 93px;
    padding-left: 0;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    padding-left: 0;
    margin-left: auto;
}

.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--hover-color);
}

.site-nav .link-current {
    color: var(--accent-text-color);
    display: flex;
}