// .backdrop.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
// }

// .backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 10;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.2);
//     opacity: 1;
//     visibility: visible;
//     transition: opacity 250ms ease, visability 250ms ease;
// }