.button {
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
}

.button.primary {
    background-color: var(--accent-text-color);
    color: var(--title-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    transition: color var(--transition-func), background-color var(--transition-func);

       &:hover,
       &:focus {
           color: var(--title-white-color);
           background-color: var(--accent-text-color);
    }
}

.button.secondary {
    background-color: var(--button-text-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    transition: box-shadow var(--transition-func), color var(--transition-func), background-color var(--transition-func);
        &:hover,
        &:focus {
            color: var(--title-white-color);
            background-color: var(--accent-text-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            background-color: var(--accent-text-color)
    }
}