.join-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    transition: background-color var(--transition-func);

       &:hover,
       &:focus {
            background-color: var(--accent-text-color);
    }
}

.join-footer {
    display: flex;
    width: 20px;
    height: 20px;
    fill: var(--title-white-color)
}

.join {
    display: flex;
    padding-left: 0;
    padding-bottom: 30px;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 0;
}

.join-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-white-color);
}