.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    @include font (700, 26px, 1.19, 0.03em);
    text-decoration: none;
    align-items: center;
    transition: color var(--transition-func);

       &:hover {
           color: var(--hover-color);
    }
}

.logo span {
    color: var(--title-black-color);
}

.logo_theme_light span {
    color:var(--title-white-color);
}
