@media screen and (max-width: 767px) {
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color:var(--title-white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-func), visibility var(--transition-func);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    position: relative;
    padding: 0;
    
}

.open-mobile-menu {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}

.open-mobile-menu__icon {
    width: 40px;
    height: 40px;
}

.mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
    
}

.mobile-menu__icon {
    width: 40px;
    height: 40px;
    transition: color var(--transition-func);
    
        &:hover,
        &:focus {
            fill: var(--accent-text-color);
    }
}

.mobile-menu__list {
    padding-top: 48px;
    padding-bottom: 302px;
    padding-left: 25px;
}

.mobile-menu_current {
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    transition: color var(--transition-func);
    

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.mobile-menu__irrelevant {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--transition-func);
    
        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
}

.mobile-menu__contacts {
padding-left: 25px;
}

.mobile-menu__tel,
.mobile-menu__mail,
.mobile-menu__join-list {
    transition: color var(--transition-func);
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}


.mobile-menu__link:not(:last-child) {
    margin-bottom: 32px;
}

// .mobile-menu_current:hover,
// .mobile-menu_current:focus {
//     color: var(--accent-text-color);
// }

.mobile-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-text-color);
    margin-bottom: 32px;
}

.mobile-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
}

.mobile-menu__join {
    display: flex;
    padding-left: 25px;
}

.mobile-menu__join-list {
    display: inline-block;
    margin-top: 64px;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);

}

 .mobile-menu__lists:not(:last-child)::after {
    content: "";
    width: 22px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}
 }

 @media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
}





    // &::after,
    // &:not(:last-child) {
    //     content: "";
    //     width: 22px;
    //     margin-left: 5px;
    //     margin-right: 5px;
    //     border: 1px solid rgba(33, 33, 33, 0.2);
    //     transform: rotate(90deg);
    //     // box-sizing: border-box;
    // }




// .mobile-menu__lists:not(:last-child) {
//     padding-right: 10px;
    
    
// }

// .mobile-menu__lists:not(:first-child) {
//     padding-left: 10px;
// }


// .mobile-menu__lists:not(:last-child)::after {
//     content: "";
    
//     margin-right: 10px;
//     width: 22px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     transform: rotate(90deg);
// }


