.links-icon {
    transition: fill var(--transition-func);
}

.links-icon:hover {
    fill: var(--accent-text-color);
}

.modal-field-message {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
    transition: border-color var(--transition-func);
}

.modal-field-message:focus {
    outline: none;
    border-color: var(--accent-text-color);
}

.modal-field-message::placeholder {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
    text-align: center;
    color: var(--title-text-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-inpute {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-func);
}

.modal-form-desc {
    display: block;
    text-align: start;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-form-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-func);
}

.modal-inpute:focus+.modal-icon {
    fill: var(--accent-text-color);
}

.modal-inpute:focus {
    border-color: var(--accent-text-color);
    outline: none;
}

.modal-form-chek {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow var(--transition-func), border-color var(--transition-func);
    margin-right: 7px;
}

.modal-form-icon {
    display: none;
    fill: var(--title-white-color);
}

.modal-chek:checked+.modal-form-chek {
    background-color: var(--accent-text-color);
}

.modal-chek:checked+.modal-form-chek .modal-form-icon {
    display: block;
}

.modal-chek:focus+.modal-form-chek {
    border-color: var(--accent-text-color);
}

.modal-field-chek {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-chek {
    position: absolute;
    appearance: none;
}

.modal-button {
    width: 200px;
    height: 50px;
    color: var(--title-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    align-self: center;
    letter-spacing: 0.06em;
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color var(--transition-func);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--hover-color);
}

.modal-polity {
    color: var(--accent-text-color)
}

.message-label {
    margin-bottom: 20px;
}