.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc(100% - 60px) / 3;
    justify-content: center;
    padding-left: 0;
}

.portfolio__link {
    text-decoration: none;
    display: inline-block;
    transition: box-shadow var(--transition-func);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio__title {
    color: var(--title-text-color);
    @include font (700, 18px, 2, 0.06em);
    margin-bottom: 4px;
    text-align: start;
}

.portfolio__text {
    color: var(--primary-text-color);
    @include font (400, 16px, 1.9, 0.03em);
    text-align: start;
}

.buttons_type_portfolio {
    color: var(--title-white-color);
    @include font (500, 16px, 1.6, 0.03em);
    padding: 6px 25px;

        &:hover,
        &:focus {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            background-color: var(--accent-text-color)
        }
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 0;
    gap: 8px;
}

.portfolio__box {
    padding: 20px 24px;
}

.portfolio__card {
    border: 1px solid var(--border-cfrd-color);
    width: 370px;
}

.portfolio__overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include font (400, 18px, 1.6, 0.03em);
    padding-left: 24px;
    align-items: center;
    overflow-y: auto;
    transform: translateY(101%);
    transition: transform var(--transition-func);
    color: var(--title-white-color);
    background: rgba(33, 150, 243, 0.9);

        .portfolio__link:hover &,
        .portfolio__link:focus & {
            transform: translateY(0);
        }
}

.portfolio__wrapper {
    position: relative;
    overflow: hidden;
}