h1,
h2,
h3,
p {
    margin: 0 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.list {
    list-style: none;
    margin: 0 0;
}

.link {
    display: flex;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}