:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --title-white-color: #FFFFFF;
    --button-text-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
    --title-black-color: #000000;
    --hover-color: #188CE8;
    --border-heder-colod: #ECECEC;
    --border-cfrd-color: #EEEEEE;
    --hero-bgcolor: #C4C4C4;
    --clients-border-color: #AFB1B8;

    --transition-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}